.container{
    border: 3px solid transparent;
    width: 70%;
    height: auto;
    margin: auto;
}
.container>div{
    margin-bottom: 35px;
}
.menu{
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
}
.select{
    display: grid;
    grid-template-columns: repeat(5,1fr);       
}
.select>a{
    text-decoration: none;
    font-size: 18px;   
    color: white; 
    padding: 15px 20px;
    justify-content: space-evenly;    
}

li{
    list-style: none;   
    text-align: center; 
    border-left: 3px solid #f8f8f8;
    padding-right: 20px;
    
}
.select>a:hover{
    background-color: #f8f8f8;
    color: black;
    border-left: none;
}
.Home{
   border: 3px solid transparent;
   width: 100%;
   height: auto;
   display: grid;
   border-radius: 5px;
   grid-template-columns: auto auto;
   justify-content: space-around;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
}

.pvlnc{
    width: 150px;
    object-fit: contain;
    padding: 20px;
    border-radius:50px; 
    
}
.details{
    text-align: center;
    border-left: 3px solid #f8f8f8;
    align-content: space-around ;
    padding: 5px;
}
.details>.select1{
    display: grid;
    grid-template-columns: repeat(2,1fr);  
    text-align: center;     
}
.select1>a{
    text-decoration: none;
    font-size: 18px;   
    color: black; 
    padding: 15px 20px;
    justify-content: space-evenly;    
}
.select1>a:hover{
    background-color: black;
    color: white; 
    border-left: none; 
}

.About{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
    padding: 20px 55px;
    text-align: justify;
    line-height: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.Education{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
    padding: 20px 55px;
    border-radius: 5px;

}
.Education>.Etb{
    margin: auto;
    border-spacing: 25px 2rem;
    text-align: center;
    line-height: 30px;
}
.Skills{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
    padding: 20px 55px;
    border-radius: 5px;
    background-color: black;
    color: white;

}
.select2{
    display: grid;
    grid-template-columns: repeat(5,1fr);  
    text-align: center;  
}
.Hobbies{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
    padding: 20px 55px;
    border-radius: 5px;

}
.select3{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    text-align: center;  
}
.select3>li>img{
    width: 40px;
    
}
.footer{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
    padding: 20px 55px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.select4{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    text-align: center;  
}


@media screen and (min-width:450px) and (max-width:920px){
    .container{
        border: 3px solid transparent;
        width: 80%;
        height: auto;
        margin: auto;
    }
    .menu{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
    }
    .select{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: 50px 50px 50px;   
        grid-gap: 30px;   
    }
    .select>a{
        text-decoration: none;
        font-size: 18px;   
        color: white; 
        padding: 15px 20px;
        justify-content: space-evenly;    
    }
    li{
        list-style: none;   
        text-align: center; 
        border-left: 3px solid #f8f8f8;
        padding-right: 20px;
        
    }
    .Home{
        border: 3px solid transparent;
        width: 80%;
        height: auto;
        display: grid;
        border-radius: 5px;
        grid-template-columns: auto auto;
        justify-content: space-around;
        box-shadow:none;  
     }
    .pvlnc{
        width: 150px;
        object-fit: contain;
        padding: 20px;
        border-radius:50px; 
        
    }
    .details{
    text-align: center;
    border-left: 3px solid #f8f8f8;
    align-content: space-around ;
    padding: 5px;
    }
    .details>.select1{
    display: grid;
    grid-template-columns: repeat(2,1fr);  
    text-align: center;     
    }
    .About{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
        padding: 20px 55px;
        text-align: justify;
        line-height: 30px;
        border-radius: 5px;
        background-color: black;
        color: white;
    }
    .Education{
        box-shadow: none;
        padding: 20px 10px;
        border-radius: 5px;
    
    }
    .Education>.Etb{
        margin: auto;
        border-spacing: 25px 2rem;
        text-align: center;
        line-height: 30px;
    }
    .select2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 50px 50px ; 
        grid-gap: 30px;
        text-align: center;  
    }
    .Hobbies{
        box-shadow:none;  
        padding: 20px 55px;
        border-radius: 5px;
    
    }

}
@media screen and (min-width:0px) and (max-width:450px){
    .container{
        border: 3px solid transparent;
        width: 100%;
        height: auto;
        margin: auto;
    }
    .menu{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
    }
    .select{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: 50px 50px 50px;   
        grid-gap: 30px;   
    }
    .select>a{
        text-decoration: none;
        font-size: 18px;   
        color: white; 
        padding: 15px 20px;
        justify-content: space-evenly;    
    }
    li{
        list-style: none;   
        text-align: center; 
        border-left: 3px solid #f8f8f8;
        padding-right: 20px;
        
    }
    .Home{
        border: 3px solid transparent;
        width: 90%;
        margin: 20px;
        height: auto;
        display: grid;
        border-radius: 5px;
        grid-template-columns: auto auto;
        justify-content: space-around;
        box-shadow:none;  
     }
    .pvlnc{
        width: 150px;
        object-fit: contain;
        padding: 20px;
        border-radius:50px; 
        
    }
    .details{
    text-align: center;
    border-left: 3px solid #f8f8f8;
    align-content: space-around ;
    padding: 5px;
    }
    .details>.name{
        font-size: 25px;
    }
    .details>.place{
        font-size: 20px;
    }
    

    .details>.select1{
    display: grid;
    grid-template-columns: 200px;  
    grid-template-rows: 50px 50px;
      
   }
   .details>.select1>a>li{
    font-size: 15px;

   }

    .About{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
        padding: 20px 55px;
        text-align: justify;
        line-height: 30px;
        border-radius: 5px;
        background-color: black;
        color: white;
    }
    .Education{
        box-shadow: none;
        padding: 20px 10px;
        border-radius: 5px;
    
    }
    .Education>.Etb{
        margin: auto;
        border-spacing: 25px 2rem;
        text-align: center;
        line-height: 30px;
    }
    .select2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 50px 50px ; 
        grid-gap: 30px;
        text-align: center;  
    }
    .Hobbies{
        box-shadow:none;  
        padding: 20px 55px;
        border-radius: 5px;
    
    }




}
